.container-fluid{

    width: auto;
    height:80vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#titulo{
    color: #542583;
    font-family: High Tower text;
    padding-left:50px; 

}
#login{
  
    top: 0px;   
    padding: 10px 6% 45px 6%;
    margin: 0 0 35px 0;
    
    /*
    -webkit-box-shadow: 5px;
    
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
   
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;*/
  }

  input:not([type="checkbox"]){
    width: 100%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    /*
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;*/
  }

  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #542583;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #542583;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
   
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
    transition: all 0.2s linear;
  }

  label{
    margin-top: 100px;
    color: #542583;

  }

  .margin-top{
      margin-top: 10px;
  }

.box {
            width: 455px;
            height: 60%;
            background: #fdb827;
            border-radius: 40px;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border: 2px solid #542583;
     }

body{

    background-color: #e2e2e2;
    width: 100%;
    height: 100%;

}

/* placeholder */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }
   
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  }



/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
   
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  #logo{
    padding-left: 90px;
    max-width: 60%;

      /* height: -webkit-fill-available; */
  }
   
  /*fadeOutLeft*/
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
   
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }

#paralogin:target ~ .content #login{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
 
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
#topo{
	
	background-color: #FDB827;
	width: auto;
	font-size: medium;
	border-radius: 5px;
	border-bottom: 5px solid #542583;
	height: 120px;
	height: 120px;
	padding: 5px;

}
#topo_1{
	width: fit-content;

}
#linkpag{

	text-decoration: none;
}
#logoIcon {
	max-width: 60%;
	float: right;
    /* height: -webkit-fill-available; */
}
#main {
  margin-top: 40px;
margin-left: 0px;
width: fit-content;
}
#pesquisar{
	width: 890;
	border: solid 2px #542583;
	/* margin-top: 10px;
	margin-left: 15px; */
	background-color: #e2e2e2;
}
#perfil{
  padding: 10px;
  border-left: 3.5px solid #542583;
}
#fotoPerfil {
  margin-top: 25px;
}
#icon{

	/* float: right; */
	width: 45px;
	background-color: #FFCC00;
	border-radius: 50%;
	border: 2px solid #542583;

}
#iconBar {
  vertical-align: middle;
  width: 20px;
  margin-right: 5px; 
}
#teste{

  padding-left: initial;
  padding-top: 35px;
  align-content: center;

}