#body{
	background-color: #f1f1f1;

}
.bckg{
	background-image: url(jogobasquete.jpg);
	background-repeat: no-repeat;
	width:100%;



}

#linkpag{

	text-decoration: none;
}

#topo{

	background-color: #FDB827;
	width: auto;
	font-size: medium;
	border-radius: 5px;
	border-bottom: 5px solid #542583;

	padding: 5px;

}
#corpo{

	margin-top: 20px; 

}

.container-fluid{
	width: auto;
}


#titulo{

	font-family: High Tower text;

	font-size: 550%;
	margin: 5px;
	padding: 10px;
	padding-left: 100px;
	text-align: left ;
	color: #542583


}

.pad{
	padding: 30px;
	padding-left: 100px;
	float:right;


}
#perfil{
		padding: 10px


}

#icon{

	float: right;
	width: 150px;
	background-color: #FFCC00;
	border-radius: 50%;
	border: 5px solid #542583;

}

.center{

	position: relative;
	top: 25%;
	left: 25%;
	bottom: 25%;
	right: 25%;

}

/* Divisão do conteúdo da pág
#centro{

}


*/

.list-group{
	color: #FBD827;

	background-color: #FBD827
}


.bt{
	color: #FBD827;
	font-size: 150%;
	background-color: #542583;
	border-color: #542583;
	border-radius: 25px;
	height: 50px;
	width: 200px;
}
.btm{
	color: #FBD827;
	font-size: 90%;
	background-color: #542583;
	border-color: #542583;

}

.es{
		border-top-left-radius: 10px;
}
.d{
		border-top-right-radius: 10px;
}


.cor_fundo{
	background: #FDB827;
}
.cor_texto{
	color: #542583;
}
.cor_botao{
	background: #542583;
	border: 2px solid #542583;
	border-radius: 5px;
	color: white;
	margin-left: 25%;
	display: block;
}
.posicao_texto{

	margin: 5%;
}


#teste{
	padding-top: 30px;
	align-content: center;
}


tr{

	height: 60px;
}

td{
	width: 100
}


.margin{
	margin-top:10px;

}

.box{
	
	background-color: #FDB827;
	width: auto;
	margin:10px;
	border: solid 3px #542583;
	border-radius: 10px;

}
.box2{

	background-color: #FDB827;
	height: 350px;
	width: auto;
	margin:10px;
	margin-top:20px;
	border: solid 3px #542583;
	border-radius: 10px;
	padding: 40px;

}

.menu{



	border-radius: 10px;


	padding: 5px;
}

.mapa{


	border: solid 3px #542583;
	background-color: #FDB827;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px


}
.pesquisar{

	width: auto;
	position: relative;
	border: solid 3px #542583;
	background-color: #FDB827;
	border-radius: 10px;
	padding-left: 10px;


}

#pesquisar{
	width: 140%;
	border: solid 2px #542583;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #FDB827;


}
.conteudo{
	
}
.mtop{
		margin: 3px;
}

#fotoPostagem{
padding-left: 40px;

}
#infPostagem{
	padding-top: 10px;
}

.postagem{

	width: auto;
	background-color: #FDB827;
	margin: 10px;
	border: solid 2px #542583;
	border-radius: 10px;

	padding: 10px
}

.overflow{
		overflow: auto;
}


.text2{
	font-size: 300%;


}

#Cancelar{
	background-color: red;
	border-color: red;
	color: white;
}



.text1{
	background-color: #542583;
	text-align: center;
	font-size: 200%;

	color: #FDB827;
	height: 55px;
}

.naDireita{
	text-align: right;
}
.amarelo{
	background-color: #FDB827;
}
.cadastrar{
	text-align: left;
	font-size: 50px;
	color: #542583;
}
label{
	width: 100px;
	/*display: inline-block;*/
	color: #542583;
	font-size: 100%;
	font-style: unset;
}
.letraCor{
	color: #542583;
	font-size: 30px;
}


input{
	border-color: #542583;
}
textarea{
	border-color: #542583;
}




a:link {
 text-decoration: none;
}

a:visited{
	 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

a:active {
	text-decoration: none;
}
